body{
    color: #000;
}
.video-player {
    position: relative;
    width: 20%;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 63px;
    background-color: #000;
  }
  
  .video-player video {
    width: 100%;
    display: block;
  }
  
  .video-title {
    margin: 10px 0;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }

  
  .progress-bar {
    width: 100%;
    height: 8px;
    background-color: #f0f0f0;
    margin-top: -2%;
    border-radius: 12px;
  }
  
  .progress {
    height: 100%;
    background-color: #ff0000;
    border-radius: 12px;
  }

  .play-button, .pause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: #131313;
    cursor: pointer;
    font-size: 48px;
  }
  
  .play-button:hover, .pause-button:hover {
    color: #0f0e0e;
  } 

  .action-buttons {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .action-button {
    margin-top: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: #f3e5e5;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .action-button:hover {
    color: #000;
  }
  
  .action-button.liked {
    color: #007bff;
  }
  
  .action-button.disliked {
    color: #dc3545;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .video-player {
      max-width: 108%;
      position: absolute;
      width: 80%;
      margin-left: 40px;
      margin-top: 50px;
      background-color: #000;
    }
  }
  
  @media screen and (max-width: 480px) {
    .video-title {
      font-size: 16px; 
    }
  
    .play-button {
      font-size: 14px; 
    }
  }
  